.card-component {
    background: $white;
    box-shadow: 0 0 4px 4px rgba($gray, .1);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    border-radius: 4px;

    .content-container {
        .logo-wrapper {
            max-width: 9rem;
            width: 100%;
            display: inline-block;

            .logo {
                width: 100%;
            }
        }

        .info {
            display: inline-block;
            vertical-align: top;
            margin-left: 1rem;
            color: $highlight2;

            span {
                display: block;

                &.description {
                    font-size: 1.8rem;
                }

                &.tag {
                    border: 1px solid $black;
                    border-radius: 4px;
                    padding: .4rem;
                    display: inline-block;
                    margin-top: 1.2rem;
                }
            }
        }
    }

    .details {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1.2rem;
        color: $gray;

        .details-wrapper {
            margin-right: 2rem;
        }
    }
}