.hero-component {
    background-image: url('../../assets/media/backgroundImg.png');
    background-size: cover;
    background-position: center center;
    padding: 4.2rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
}